<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
<form method="post" style="max-width:600px;">

    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${yarn.name}" />
        <span th:errors="${yarn.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="brand">Brand</label>
        <select th:field="${yarn.brand}">
            <option th:each="brand : ${brands}"
                    th:text="${brand.name}"
                    th:value="${brand.id}"></option>
        </select>
        <a th:href="@{'/brand/add'}">Add Brands</a>
    </div>

    <div class="form-group">
        <label th:for="color">Color</label>
        <select th:field="${yarn.color}">
            <option th:each="color : ${colors}"
                    th:text="${color.name}"
                    th:value="${color.id}"></option>
        </select>
        <a th:href="@{'/color/add'}">Add Colors</a>
    </div>

    <div class="form-group">
        <label th:for="weight">Weight</label>
        <select th:field="${yarn.weight}">
            <option th:each="weight : ${weights}"
                    th:text="${weight.name}"
                    th:value="${weight.id}"></option>
        </select>
    </div>

    <input type="submit" value="Add Yarn" />
</form>

</div>

</body>
</html>